.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    height: 300px;
  }

  .tab {
    float: left;
    width: 15%;
    height: 300px;
  }

  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }

  ul li{
      list-style-type: none;
  }

  .table{
      display: flex;
      flex-direction: column;
  }

  .product{
      display: flex;
      flex-direction: row;
      height:100px;
      margin-top: 20px;
  }

  .product img{
    height:100px;
    width:auto;
}

.pname{
    margin-top: 50px;
    width: 800px;
    margin-left: 20px;
}
.price{
    margin-top: 50px;
    width:100px;
}
.amount{
    margin-top: 50px;
    width:100px;
}

.logined{
    float: right;
    display: flex;
    flex-direction: row;
}

.user{
    margin-top: 13px;
    margin-right: 7px;
}